.unnumbered_list {
    padding: 0px;
    list-style-type: none;
}

.list-element {
    margin: 40px 0;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.header {
    height: 90px;
    background-color: black;
}

.content {
    font-family: 'Courier New', Courier, monospace;
}

.flex-row {
    display: flex;
    width: 100%;
    height: 1000px;
}

.unit {
    height: 100%;
}

.unit_width_half {
    width: 50%;
}

.unit_width_small {
    width: 25%;
}

.unit__progress {
    border: 1px solid white;
    height: 30px;
    width: 100%;
    display: flex;
}

.unit__progress_completed {
    background-color: white;
    height: 100%;;
}

.unit__progress_todo {
    background-color: white;
    height: 100%;
    /* display: inline; */
    animation: blink 1s step-start infinite;
}

.unit__progress__percentage {
    float: right;
}

.unit__overlay {
    background-color: rgba(33, 33, 33, .8);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    text-transform: lowercase;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    opacity: 0.8;
    transition: opacity 1s;
}

.unit__overlay:hover {
    opacity: 0;
}

.unit_name_greeting {
    background-image: url("images/greeting.png");
    filter: grayscale(100%);
    background-position: center;
    background-size: contain;
    background-color: #999999;
}

.unit_name_greeting:hover {
    filter: grayscale(0%);
}

.unit_name_about {
    background-color: #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("images/static.gif"); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/static.gif");
}

.unit_name_about__content {
    color: white;
    text-transform: lowercase;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    vertical-align: middle;
}

.unit_name_skills {
    background-color: #333333;
    box-sizing: border-box;
    padding: 30px;
    font-size: 30px;
    color: white;
}

.unit_name_experience {
    background-color: #777777;
}

.unit_name_hobbies {
    background-color: #111111;
}

.footer {
    height: 90px;
    background-color: black;
}