.unnumbered_list {
    padding: 0px;
    list-style-type: none;
}

.list-element {
    margin: 40px 0;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.header {
    height: 90px;
    background-color: black;
    box-sizing: border-box;
    display: flex;
}

.header__title {
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.content {
    font-family: 'Courier New', Courier, monospace;
}

.flex-row {
    display: flex;
    width: 100%;
    height: 1000px;
    flex-wrap: wrap;
}

.unit {
    height: 100%;
}

.unit_width_half {
    width: 50%;
}

.unit_width_third {
    width: 30%;
}

.unit_width_near_third {
    width: 40%;
}

.unit__progress {
    margin-top: 5px;
    border: 1px solid white;
    height: 25px;
    width: 100%;
    display: flex;
}

.unit__progress_completed {
    background-color: #999999;
    height: 100%;;
}

.unit__progress_todo {
    background-color: #999999;
    height: 100%;
    /* display: inline; */
    animation: blink 1s step-start infinite;
}

.unit__progress__percentage {
    float: right;
}

.unit__overlay {
    background-color: rgba(33, 33, 33, .8);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    text-transform: lowercase;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    opacity: 0.8;
    transition: opacity 1s;
}

.unit__overlay:hover, .unit__overlay:active {
    opacity: 0;
}

.unit_name_greeting {
    background-image: url("../images/greeting.webp");
    filter: grayscale(100%);
    background-position: center;
    background-size: contain;
    background-color: #999999;
}

.unit_name_greeting:hover, .unit_name_greeting:active {
    filter: grayscale(0%);
}

.unit__video-bg {
    margin: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.unit_name_about__content {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    vertical-align: middle;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
}

.unit_name_about__text {
    color: white;
    text-transform: lowercase;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

.unit_name_skills {
    background-color: #111111;
    box-sizing: border-box;
    padding: 30px;
    font-size: 25px;
    color: white;
}


.unit_name_experience {
    background-color: #777777;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/experience.webp");
    background-position: center;
    background-position: contain;
    color: white;
    padding: 30px;
    box-sizing: border-box;
    font-size: 25px;
    position: relative;
}

.unit_name_experience__content {
    width: 100%;
    height: 100%;
}

.unit_name_experience__hidden {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    color: white;
    text-transform: lowercase;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 10px;
}

.unit_name_experience__hidden:hover, .unit_name_experience__hidden:active {
    opacity: 0.6;
}

.unit_name_hobbies {
    background-color: #333333;
    color: white;
    font-size: 25px;
    padding: 30px;
    box-sizing: border-box;
    filter: grayscale(95%);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hobbies.webp");
    background-position: center;
}

.footer {
    height: 90px;
    background-color: black;
}

.footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__logo {
    width: 45px;
    height: 45px;
    filter: grayscale(84%);
}

@media all and (max-width: 1000px) {
    .flex-row {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .unit {
        height: fit-content;
    }
    .unit_width_half {
        width: 100%;
    }
    
    .unit_width_third {
        width: 100%;
    }
    
    .unit_width_near_third {
        width: 100%;
    }
    .footer {
        height: 100px;
    }
}