:root {
    --row-height: 1000px;
    --rel-height: 40vw;
}

.page {
    font-family: 'Courier New', Courier, monospace;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.page::-webkit-scrollbar {
    display: none;
}

.list-element {
    margin: 40px 0;
}

.header {
    height: 90px;
    box-sizing: border-box;
    display: flex;
    background-color: black;
}

.header__title {
    margin: auto;
    color: white;
}

.flex-row {
    width: 100%;
    height: var(--row-height);
    display: flex;
}

.flex-row_responsive {
    height: var(--rel-height);
}

.flex-row_narrow {
    height: calc(var(--row-height) / 4);
}

.block {
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    font-size: 20px;
    color: white;
}

.block_width_half {
    width: 50%;
}

.block_width_third {
    width: 30%;
}

.block_width_near_third {
    width: 40%;
}

.block__video-bg {
    margin: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.block__progress {
    margin-top: 5px;
    border: 1px solid white;
    height: 25px;
    width: 100%;
    display: flex;
}

.block__progress_completed {
    background-color: #999999;
    height: 100%;
    ;
}

.block__progress_todo {
    background-color: #999999;
    height: 100%;
    /* display: inline; */
    animation: blink 1s step-start infinite;
}

.block__progress__percentage {
    margin-left: 5px;
    float: right;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.block_name_greeting {
    padding: 0;
    background-image: url("../images/greeting.webp");
    background-position: center;
    background-size: contain;
    background-color: #999999;
    filter: grayscale(100%);
}

.block_name_greeting:hover,
.block_name_greeting:active {
    filter: grayscale(0%);
}

.block_name_greeting__overlay {
    background-color: rgba(33, 33, 33, .8);
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: lowercase;
    font-size: 34px;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    opacity: 0.8;
    transition: opacity 1s;
}

.block_name_greeting__overlay:hover,
.block_name_greeting__overlay:active {
    opacity: 0;
}

.block_name_about {
    height: 100%;
    margin: 0;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-transform: lowercase;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
}

.block_name_hobbies {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hobbies.webp");
    background-color: #333333;
    filter: grayscale(95%);
    background-position: center;
}

.block_name_skills {
    background-color: #111111;
}

.block_name_skills__list {
    padding: 0px;
    list-style-type: none;
}

.block_name_experience {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/experience.webp");
    background-color: #777777;
    background-position: center;
    position: relative;
}

.block_name_experience__hidden {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    color: white;
    text-transform: lowercase;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 10px;
}

.block_name_experience__hidden:hover,
.block_name_experience__hidden:active {
    opacity: 0.6;
}

.footer {
    height: 90px;
    background-color: black;
}

.footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__logo {
    width: 45px;
    height: 45px;
    filter: grayscale(84%);
}

.gallery-title {
    height: 100%;
    width: 25%;
    /* background-image: url("../images/gallery-title_bg.webp"); */
    background-image: url("../images/fun_bg.webp");
    background-size: cover;
    display: flex;
}

.gallery-title__head {
    margin: auto;
    text-align: right;
    font-size: 30px;
    /* color: white; */
    filter: none;
}

.gallery {
    height: 100%;
    width: 100%;
    background-color: black;
    /* background-image: url("../images/fun_bg.webp"); */
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.gallery__image {
    width: 100%;
    height: 100%;
}

.gallery__move-button {
    position: absolute;
    top: 0;
    width: calc((100% - var(--rel-height) * 1.8) / 3);
    height: 100%;
    border: none;
    background-size: contain;
    background-color: black;
}

.gallery__move-button_right {
    background-image: url("../images/nextdown.svg");
    right: 0;
}

.gallery__move-button_left {
    background-image: url("../images/prevup.svg");
    left: 0;
}

.gallery__image-container {
    position: absolute;
    background-size: cover;
}

.gallery__image-container_previous {
    display: none;
    filter: brightness(500%);
}

.gallery__image-container_next {
    display: none;
    filter: brightness(0%);
    /* box-shadow: 0px 0px 5px 1px #fff; */
}

.gallery__image-container_left {
    top: 0;
    bottom: 0;
    left: calc((100% - var(--rel-height) * 1.8) / 3);
    width: var(--rel-height);
}

.gallery__image-container_right {
    top: calc(var(--rel-height) * 0.1);
    bottom: calc(var(--rel-height) * 0.1);
    width: calc(var(--rel-height) * 0.8);
    right: calc((100% - var(--rel-height) * 1.8) / 3);
    filter: brightness(50%);
    /* box-shadow: 0px 0px 5px 1px #fff; */
}

@keyframes left-to-previous {
    100% {
        left: calc(var(--rel-height) * -1);
        filter: brightness(500%);
    }
}

.gallery__animation_left-to-previous {
    animation: left-to-previous 1s 1 ease forwards;
}

@keyframes right-to-left {
    100% {
        right: calc((100% - var(--rel-height) * 1.8) / 3 * 2 + var(--rel-height) * 0.8);
        top: 0;
        bottom: 0;
        width: var(--rel-height);
        filter: brightness(100%);
        /* box-shadow: none; */
    }
}

.gallery__animation_right-to-left {
    animation: right-to-left 1s 1 ease forwards;
}

@keyframes next-to-right {
    100% {
        width: calc(var(--rel-height) * 0.8);
        right: calc((100% - var(--rel-height) * 1.8) / 3);
        filter: brightness(50%);
    }
}

.gallery__animation_next-to-right {
    display: block;
    top: calc(var(--rel-height) * 0.1);
    bottom: calc(var(--rel-height) * 0.1);
    width: calc(var(--rel-height) * 0.8);
    right: calc(var(--rel-height) * -0.8);
    animation: next-to-right 1s 1 ease forwards;
}

@keyframes previous-to-left {
    100% {
        left: calc((100% - var(--rel-height) * 1.8) / 3);
        filter: brightness(100%);
    }
}

.gallery__animation_previous-to-left {
    display: block;
    top: 0;
    bottom: 0;
    left: calc(var(--rel-height) * -1);
    width: var(--rel-height);
    animation: previous-to-left 1s 1 ease forwards;
}

@keyframes left-to-right {
    100% {
        top: calc(var(--rel-height) * 0.1);
        bottom: calc(var(--rel-height) * 0.1);
        width: calc(var(--rel-height) * 0.8);
        left: calc((100% - var(--rel-height) * 1.8) / 3 * 2 + var(--rel-height));
        filter: brightness(50%);
        /* box-shadow: 0px 0px 5px 1px #fff; */
    }
}

.gallery__animation_left-to-right {
    animation: left-to-right 1s 1 ease forwards;
}

@keyframes right-to-next {
    100% {
        right: calc(var(--rel-height) * -1);
        filter: brightness(0%);
    }
}

.gallery__animation_right-to-next {
    animation: right-to-next 1s 1 ease forwards;
}

@keyframes button-deactivate {
    100% {
        opacity: 0%;
    }
}

.gallery__move-button_inactive {
    animation: button-deactivate .1s 1 ease-in forwards;
}

@keyframes button-activate {
    100% {
        opacity: 100%;
    }
}

.gallery__move-button_active {
    opacity: 0;
    animation: button-activate .8s 1 ease-in forwards;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    overflow: hidden;
    z-index: 10;
    justify-content: space-between;
}

@keyframes get-modal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modal_active {
    display: flex;
    animation: get-modal .5s 1 ease forwards;
}

.gallery-modal {
    width: 80vh;
    margin: auto;
    z-index: 11;
}

.gallery-modal-arrow {
    height: 100%;
    width: 10%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-modal-arrow_left {
    background-image: url("../images/rotate-left.svg");
}

.gallery-modal-arrow_right {
    background-image: url("../images/rotate-right.svg");
}

.gallery-modal-arrow_disabled {
    visibility: hidden;
}

.page_inactive {
    overflow: hidden;
    transition: .5s;
}

.form-invite {
    background-color: #070707;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.form-invite__text {
    width: 90%;
    font-size: 24px;
}

.form-invite__button {
    border: 2px solid white;
    width: 100%;
    height: 70px;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
}

.feedback-modal {
    margin: auto;
    width: 1000px;
    height: 90vh;
    background-color: black;
    /* border: 1px dotted white; */
    box-sizing: border-box;
    /* padding: 20px; */
}

.feedback {
    font-size: 25px;
    box-sizing: border-box;
    /* border: 1px solid green; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 3vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal_active {
    display: flex;
}

.feedback__field {
    width: 60%;
    margin: 0;
    padding: 0;
    /* border: 0; */
    background-color: lightgray;
    font-weight: bold;
    box-sizing: border-box;
}

.feedback__field:focus {
    outline: 2px solid #997570;
    background-color: white;
}


.feedback__column {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    margin: 0;
    border: 0;
    padding: 0;
}

.feedback__small-wrapper {
    justify-content: flex-start;
}

.feedback__row {
    padding: 0;
    justify-content: space-between;
    border: 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.feedback__column textarea {
    width: 100%;
    box-sizing: border-box;
}

.feedback__scream {
    height: 100%;
}

.feedback__scream textarea {
    height: 100%;
}

.feedback__field {
    resize: none;
}

.feedback__button {
    padding: 10px;
    background-color: #997570;
    border: 1px solid black;
    font-weight: bold;
}

.feedback__error {
    color: red;
    display: none;
}

.feedback__error_active {
    display: block;
}

.feedback__button:disabled {
    background-color: #777777;
    color: black;
}

.feedback__paragraph {
    margin: auto;
    font-size: 40px;
    font-weight: bold;
}

.countdown {
    width: 75%;
    height: 250px;
    /* min-height: fit-content; */
    background-color: black;
    border-right: 1px solid white;
    color: white;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    /* min-height: 100px;
    height: 100px; */
}

.countdown__block {
    /* border: 1px solid red; */
    display: flex;
    /* height: 240px; */
    height: 90%;
    width: 13%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}

.countdown__number {
    /* font-size: 50%; */
    font-size: 80px;
    width: 100%;
    /* height: 100%; */
    text-align: center;
    /* border: 1px solid blue; */
}

.countdown__subtitle {
    font-size: 20px;
    width: 100%;
    /* height: 100%; */
    text-align: center;
    /* border: 1px solid yellow; */
}

.countdown__block_type_desc {
    width: fit-content;
    padding: 0;
    font-size: 20px;
    text-align: right;
}

.popup-modal-container {
    background-color: rgba(0, 0, 0, 0.95);
}

.popup-modal {
    background-color: black;
    margin: auto;
    width: 50vw;
    height: 50vw;
    /* height: 80vh; */
    /* border: 1px solid pink; */
    /* display: flex;
    flex-direction: column; */
    position: relative;
}

.popup-modal__image {
    width: 100%;
    height: 100%;
}

.popup-modal__button {
    position: absolute;
    color: red;
    font-size: 50px;
    font-weight: bold;
    bottom: 20px;
    right: 20px;
    z-index: 12;
}

.header_sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 5;
}

.header__spiral {
    stroke: white;
    stroke-width: 10;
    fill: black;
    stroke-dasharray: 6265;
    stroke-dashoffset: 6265;
    transition: stroke-dashoffset 5s;
}

.header__spiral:hover {
    stroke-dashoffset: 0;
}

.header__spiral-container {
    position: fixed;
    top: 5px;
    right: 5px;
    /* height: 50px; */
    width: 80px;
    height: 80px;
    z-index: 6;
    /* border: 1px solid red; */
}

.inversion {
    filter: invert(100%);
}

.countdown-intro {
    height: 60px;
    min-height: 50px;
    padding: 3px;
    background-color: black;
    font-weight: bold;
    font-size: 50px;
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
    display: flex;
}

.countdown-intro__label {
    margin: auto;
}

@keyframes flash {
    20% {
        filter: brightness(10);
    }
}

.gallery-modal-switch {
    animation: flash .5s 1 ease forwards;
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.hide {
    animation: hide .5s 1 ease forwards;
}

.gallery-mobile {
    display: none;
}

@media all and (max-width: 1000px) {
    .flex-row {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .block {
        height: fit-content;
    }

    /* .block_name_greeting {
        position: absolute;
        left: 0;
        top: 80px;
    } */

    .block_width_half {
        width: 100%;
    }

    .block_width_third {
        width: 100%;
    }

    .block_width_near_third {
        width: 100%;
    }

    .footer {
        height: 100px;
    }

    .countdown-intro {
        font-size: 30px;
    }

    .countdown {
        flex-direction: column;
        width: 100%;
        border: 0;
    }

    .countdown__block {
        margin: auto;
        width: 100%;
        height: 100%;
        font-size: 45px;
        text-align: center;
    }

    .countdown__number {
        font-size: 90px;
    }

    .countdown__subtitle {
        font-size: 45px;
    }

    .form-invite {
        border-top: 1px solid white;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .flex-row_responsive {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .gallery {
        display: none;
    }

    .gallery-mobile {
        width: 100%;
        display: grid;
        grid-template-columns: 45vw 45vw;
        grid-template-rows: repeat(4, 45vw);
        /* justify-content: space-evenly; */
        gap: calc(10vw / 3);
        padding: calc(10vw / 3);
        background-color: black;
        box-sizing: border-box;
    }

    .gallery-title {
        width: 100%;
    }

    .gallery-mobile__image {
        width: 100%;
    }

    .gallery-mobile__image_1 {
        grid-column: 1;
        grid-row: 1;
    }

    .gallery-mobile__image_2 {
        grid-column: 2;
        grid-row: 1;
    }

    .gallery-mobile__image_3 {
        grid-column: 1;
        grid-row: 2;
    }

    .gallery-mobile__image_4 {
        grid-column: 2;
        grid-row: 2;
    }

    .gallery-mobile__image_5 {
        grid-column: 1;
        grid-row: 3;
    }

    .gallery-mobile__image_6 {
        grid-column: 2;
        grid-row: 4;
    }

    /* .gallery__move-button {
        width: 100%;
        display: block;
    }

    .gallery__move-button_inactive

    .gallery-mobile__move-button_left {
        display: block;
        height: 5vw;
        top: 0;
        left: 0;
        width: 100%;
    }

    .gallery-mobile__move-button_right {
        display: block;
        bottom: 0;
        left: 0;
        height: 5vw;
        width: 100%;
    }

    .gallery-mobile__image {
        width: 100vw;
        margin: 0;
        padding: 0;
    } */

    /* .gallery-title {
        width: 100%;
    }

    .gallery__image_left {
        width: 100%;
    } */

    /* .gallery__image-container_left {
        width: 100%;
        height: 100%;
    } */

    .spiral__container {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 5px;
        right: 5px;
    }
}